@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <table class="table table-hover table-striped table-bordered">
                <tbody>
                    <tr>
                        <td align="center" style="padding-top:10px;">
                            @Html.DropDownList("Egitim", ViewBag.EgitimList as SelectList, "Sonuçlar", new { @class = "form-control" })
                            <div></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-push-2" id="soruListesiPaneli">
            
        </div>
    </div>

    <script>
        $('#Egitim').on('change', function () {
            if ($(this).val() != "") {
                KonuBasliginaGoreSinavlariGetir($(this).val());
            }
            else {
                $('#soruListesiPaneli').html("");
            }
        });

        const sorulariGetirURL = "@Url.Action("KonularaGoreSinavlariGetir", "Admin")";
        function KonuBasliginaGoreSinavlariGetir(id) {
            $.ajax({
                type: "POST",
                url: sorulariGetirURL,
                data: {
                    id: id
                },
                success: function (data) {
                    SınavlarıTabloOlarakGoster(data);
                    if (data.length == 0) {
                        Swal.fire({
                            type: 'error',
                            title: 'Sınav hakkında sonuç kaydı bulunamadı!'
                        })
                    }

                },
                error: function (request, status, error) {
                    Swal.fire({
                        type: 'error',
                        title: 'Beklenmedik hata'
                    })
                }
            });
        }

        function SınavlarıTabloOlarakGoster(data) {
            var htmlString = '<table class="mt-3 mb-3 table table-bordered table-hover table-striped" id="lineList"> ' +
                            '<tr>' +
                            '</tr>' +
                            '<tr id="table">' +
                            '	<td align="center">' +
                            '		<b>#sicilNo</b>' +
                            '	</td>' +
                            '	<td align="center">' +
                            '		<b>Bitirme Süresi</b>' +
                            '	</td>' +
                            '	<td align="center">' +
                            '		<b>İsim Soyisim</b>' +
                            '	</td>' +
                            '	<td align="center">' +
                            '		<b>Doğru Sayısı</b>' +
                            '	</td>' +
                            '	<td align="center">' +
                            '		' +
                            '	</td>' +
                            '</tr>'
            ;

            for (var i = 0; i < data.length; i++) {
                var minutes = Math.floor(data[i].bitirmeSuresi / 60);
                var seconds = Math.floor(data[i].bitirmeSuresi - minutes * 60);

                var link = '@Html.ActionLink("Detay Gör", "SonucDetay", "Admin", new { sicilNo = -1, egitimID = -2 }, new { @class = "btn btn-primary" })'
                link = link.replace('-1', data[i].sicilNo);
                link = link.replace('-2', data[i].egitimID);

                htmlString += '<tr id="tableRow_">' +
                                '	<td align="center">' +
                                '		<b>' + data[i].sicilNo + '</b>' +
                                '	</td>' +
                                '	<td align="center">' +
                                '		' + minutes + ' dakika ' + seconds +
                                '	saniye</td>' +
                                '	<td align="center">' +
                                '		' + data[i].isim + " " +data[i].soyisim +
                                '	</td>' +
                                '	<td align="center">' +
                                '		' + data[i].dogruSayisi + '/' + data[i].toplamSoruSayisi +
                                '	</td>' +
                                '	<td align="center">' +
                                '	 ' + link +
                                '   </td>' +
                                '</tr>';
            }
            htmlString += '</table>';

            $('#soruListesiPaneli').html(htmlString);
        }
    </script>
</div>