

<div class="container" style="margin-top:20%;">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <b style="color:red;">@ViewBag.hata</b>
                <div class="col-lg-12 text-center">
                    <img src="../../image/vestel-kirmizi-logo-buyuk.png" class="vestellogo1" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="../../image/zorlu-logo.png" class="vestellogo2"/>
                </div>
            </div>
        </div>
    </div>
</div>